version: '3.9'
services:
  web:
    build: . # Path to your Dockerfile
    ports:
      - "7860:7860"
    depends_on:
      - chromadb_server
    networks:
      - rag_network


  chromadb_server:
    image: chromadb/chroma
    ports:
      - "8000:8000"
    volumes:
      - chromadb_data:
    networks:
      - rag_network

# persistent volumes(absolute path have to be given)
volumes:
  chromadb_data: 

# defaulter network
networks:
  rag_network:
